body{ background-color: white;
       background-image: url("forestBackground.jpg");
	   background-position: left top;
	   background-size: fill;
	   background-repeat: no-repeat;
	   font-family: Verdana, Geneva, sans-serif;}
 h1 { color:#B20505 }
  p { color:#00024E } 
   
   .cTextTop{ font-size:2.8vh; }

   .cTitle{  font-size:3vh; color: white;  }

   .cText{   font-size:2vh; color: white;  }

   .cBox{ background-color: rgba(28,28,28,0.2);
          padding: 20px 60px;
          width:80vh;
		  overflow: visible;}
    
   .cButton{ 
             background-color: rgba(28,28,28,0.2);
             list-style-type: none;	
           }

   .cButton li{ float: left; }

   .cButton a{ display: block;
               color: rgba(255,255,255,1);
               background-color: rgba(28,28,28,0.2);
               text-align: center;
               padding: 14px 16px;
               text-decoration: none;
               font-size: 17px;
              }

   .cButton a:hover{ background-color: rgba(255,255,255,0.4); } 
   .cButton .active{ background-color: rgba(255,255,255,0.4);} 

   .cTopBar{ width: 80%;
             background-color: rgba(28,28,28,0.2);
			 padding: 0vw 3vw;
			 margin: 0 auto;
             list-style-type: none;
             overflow: hidden;
           }

   .cTopBar a{ float: left;
               display: block;
               color: rgba(255,255,255,1);
               background-color: rgba(28,28,28,0.4);
               text-align: center;
               padding: 14px 16px;
               text-decoration: none;
               font-size: 3vh;
              }
   .cTopBar a:hover{ background-color: rgba(255,255,255,0.4); } 
   .cTopBar .active{ background-color: rgba(255,255,255,0.4); } 

   input[type=text], select {
    width: 100%;
	color:white;
	background-color:rgba(50,50,50,0.2);
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid rgba(0,0,0,0.1);
	border-color: rgba(255,255,255,0.2);
    border-radius: 4px;
    box-sizing: border-box;
    }
	input[type=password], select {
    width: 100%;
	color:white;
	background-color:rgba(50,50,50,0.2);
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid rgba(0,0,0,0.1);
	border-color: rgba(255,255,255,0.2);
    border-radius: 4px;
    box-sizing: border-box;
    }

    div { width:80vh; }
}